@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif;
}

root {
    font-family: var(--font-roboto);
}

#searchdiv::after {
    content: ">_" !important;
    color: rgba(252, 211, 77, 1);
    position: absolute;
    z-index: 100;
    margin-top: 1rem;
    margin-left: 1rem;
}
