---
import types from "../assets/types.json";
---

<div
    class="mt-2 grid lg:grid-rows-1 lg:grid-cols-[repeat(9, auto)] grid-rows-2 md:grid-rows-1 grid-flow-col-dense gap-1.5 lg:w-2xl mr-5"
>
    {
        types.Types.map((type) => (
            <a
                class="bg-blue-700 uppercase text-sm hover:bg-white hover:text-blue-700 w-max px-1 "
                href={"/items?" + type.toLocaleLowerCase().replaceAll(" ", "")}
            >
                {type}
            </a>
        ))
    }
</div>
