---
import Logo from "../assets/logo.png";
import { Image } from "astro:assets";
const { page } = Astro.props;

const active =
    "bg-[#191919] flex justify-center items-center border-b border-[#191919] text-white";
const notactive =
    "hover:bg-[#191919] flex justify-center items-center border-b border-[#191919] text-white";
---

<nav
    id="nav"
    class="min-h-screen grid grid-rows-[repeat(auto-fill,minmax(59px,1fr))] border-r border-[#191919] content-center"
>
    <a href="/" aria-label="Home"
        ><Image
            class="p-2 border-b border-[#191919]"
            src={Logo}
            alt=""
            loading="eager"
        /></a
    >
    <a
        class={page == "list" ? active : notactive}
        href="items"
        aria-label="Item List"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
            ></path>
        </svg>
    </a>
    <a
        class={page == "import" ? active : notactive}
        href="import"
        aria-label="Import"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
    </a>
</nav>
