---

---

<div class="flex pt-4 lg:w-2xl mr-5" id="searchdiv">
    <input
        id="search"
        class="w-full caret-amber-400 bg-neutral-950 placeholder:text-neutral-500 text-white text-l border border-slate-[#191919] pl-11 pr-5 py-4 transition duration-300 ease focus:outline-none border-neutral-800 focus:border-neutral-700 shadow-sm focus:shadow"
        type="text"
        placeholder="Search by name"
    />
</div>
